---
import Layout from "../../layouts/Layout.astro"
import HeroContainer from "../HeroContainer.astro"
import Numeros from "../Numeros.astro"

---

<Layout title="¡Conéctate con los Mejores Precios de Internet! Descubre los Planes Reitcom" description="Nuestros planes de internet están diseñados para los que buscan lo mejor. Con velocidades ultrarrápidas y un servicio personalizado, te ofrecemos una experiencia única en conectividad. Eleva tu experiencia en línea a un nivel superior con Reitcom: Experimenta la velocidad">
    <HeroContainer img="/bg-preschool.webp"> 
      <h1 class="lg:text-6xl text-4xl text-center uppercase mb-20 font-gothic-a1 tracking-widest">
        Titulo Legal
    </h1>
    </HeroContainer>
    <main>
      <Numeros/>
    </main>
</Layout>
