---
import Layout from "../../layouts/Layout.astro"
import HeroContainer from "../HeroContainer.astro"
import Numeros from "../Numeros.astro"

---

<Layout title="Preguntas Frecuntes" description="Encuentra respuestas rápidas a tus preguntas sobre Internet con las Preguntas Frecuentes de Reitcom. Descubre todo lo que necesitas saber sobre nuestra conexión de alta velocidad, configuración de router, facturación y más.">
    <HeroContainer img="/background.webp"> 
    <h1 class="lg:text-6xl text-4xl text-center uppercase mb-20 font-gothic-a1 tracking-widest">
        Titulo Legal
    </h1>
    </HeroContainer>
    <main>
        
    </main>
</Layout>
