---
import BentoItem from './BentoItem.astro'
---

<section class="w-full max-w-[1400px] grid lg:grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-6 md:p-12 lg:p-20">
  <BentoItem class="col-span-10 lg:col-span-4" title="SEGURIDAD">
    <div slot="image" class="background absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" data-src="/.webp">
      <img src="/Security_Desktop.webp" alt="Imagen 1" class="w-full h-full object-cover" />
    </div>
    <p slot="content" class="max-w-xl">
      Descubra la tranquilidad de navegar en línea con nuestra red inteligente, ahora equipada con <strong>seguridad integrada</strong> sin costo adicional. Proteja su experiencia en línea contra <strong>virus</strong>, <strong>malware</strong> y más, ¡sin preocupaciones! Explore la web con <strong>confianza</strong> y <strong>seguridad</strong> mientras aprovecha al máximo nuestros servicios.
    </p>
  </BentoItem>

  <BentoItem class="col-span-10 lg:col-span-6" title="VELOCIDAD">
    <div slot="image" class="background absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" data-src="/.webp">
      <img src="/fast.webp" alt="Imagen 2" class="w-full h-full object-cover" />
    </div>
    <p slot="content" class="max-w-xl">
      Nuestros planes de internet van más allá de la simple conexión. Ofrecemos <strong>velocidades ultra rápidas</strong> y una <strong>conectividad confiable</strong> para brindar la mejor experiencia en línea. Nuestro dedicado equipo de ingenieros trabaja constantemente para garantizar la <strong>excelencia</strong> en cada conexión. ¿Listo para experimentar la diferencia? ¡Contáctanos ahora para obtener más información y aprovechar nuestras <strong>ofertas exclusivas</strong>!
    </p>
  </BentoItem>

  <BentoItem class="col-span-10 lg:col-span-6" title="COBERTURA">
    <div slot="image" class="background absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" data-src="/.webp">
      <img src="/Module-new.webp" alt="Imagen 3" class="w-full h-full object-cover" />
    </div>
    <p slot="content" class="max-w-xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis orci vel nisi feugiat, nec efficitur nisl lobortis. Sed ut massa varius, fermentum elit sed, faucibus mi. Sed vel justo sit amet mi varius varius ac in est. Fusce sit amet nunc in ex consectetur eleifend id et turpis. Sed ut odio eu metus faucibus condimentum. Fusce non mi nec nulla congue luctus.
    </p>
  </BentoItem>

  <BentoItem class="col-span-10 lg:col-span-4" title="ENTRETENIMIENTO">
    <div slot="image" class="background absolute bottom-0 left-0 top-0 -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" data-src="/.webp">
      <img src="/hogar.webp" alt="Imagen 4" class="w-full h-full object-cover" />
    </div>
    <p slot="content" class="max-w-xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis orci vel nisi feugiat, nec efficitur nisl lobortis. Sed ut massa varius, fermentum elit sed, faucibus mi. Sed vel justo sit amet mi varius varius ac in est. Fusce sit amet nunc in ex consectetur eleifend id et turpis. Sed ut odio eu metus faucibus condimentum. Fusce non mi nec nulla congue luctus.
    </p>
  </BentoItem>
</section>


<script>
  document.addEventListener("astro:page-load", () => {
    const backgrounds = document.querySelectorAll(
      ".background"
    ) as NodeListOf<HTMLElement>

    if (window.IntersectionObserver == null) {
      backgrounds.forEach((bkg) => {
        bkg.style.backgroundImage = "url('" + bkg.dataset.src + "')"
      })
      return
    }

    function handleIntersection(entries: IntersectionObserverEntry[]) {
      entries.map((entry) => {
        if (entry.isIntersecting) {
          const target = entry.target as HTMLElement
          const { style, dataset } = target
          // Item has crossed our observation
          // threshold - load src from data-src
          style.backgroundImage = "url('" + dataset.src + "')"
          // Job done for this item - no need to watch it!
          observer.unobserve(entry.target)
        }
      })
    }

    const observer = new IntersectionObserver(handleIntersection, {
      rootMargin: "100px",
    })

    backgrounds.forEach((bkg) => observer.observe(bkg))
  })
</script>