---
import Logo from "../components/Logo.astro"

---

<header id="header-nav" class="fixed w-screen py-4 z-50 top-0 w-full px-6 lg:px-0">
  <div class="grid grid-cols-3 max-w-7xl mx-auto flex items-center justify-between gap-16">
    <a href="/" class="col-span-1">
        <Logo class="w-12 h-auto"/>
    </a>
    <nav class="col-span-1 justify-self-center">
        <ul class="flex gap-4">
            <li>
                <a class="hover:underline" href="#">Home</a>
            </li>
            <li>
                <a class="hover:underline" href="#">Precios</a>
            </li>
            <li>
                <a class="hover:underline" href="#">FAQ</a>
            </li>
        </ul>
    </nav>

  </div>
</header>