---
import Logo from "./Logo.astro";
---

<section class="text-xl text-left px-18 max-w-[80ch] text-pretty mx-auto my-24">
    
    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        Permanezca conectado con la red de fibra <strong>MÁS VELOZ</strong><br/>
    </h1>
    <p>¡Es momento de sumergirse y ponerse al día con su serie favorita o mantenerse al tanto de las últimas noticias! Con nuestros 4 planes premium, disfrutará de velocidades de hasta 1 Gbps sin preocuparse por la ralentización o perderse en la red.</p>
    <img class="w16 mb-10" src="/fast.webp" alt="velocidad de conexion">
</section>