<div class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full">
    <div class="absolute inset-0 flex justify-center items-center z-10">
      <section class="animate-fade-up flex flex-col items-center max-w-7xl gap-7 px-7">
        <h1 class="text-4xl text-center md:text-6xl lg:text-8xl">
          Descubre Nuestra Red de Fibra de Última Generación: <strong>Velocidad</strong> y <strong>Conexión Instantánea</strong>.
        </h1>
        <p class="text-xl lg:text-2xl text-center px-4">
          Toma la vía rápida con Reitcom: nuestra red de fibra avanzada está en constante evolución, ofreciendo velocidades de hasta 1 Giga. Conéctate instantáneamente a todo lo que amas en línea. ¡Explora sin límites!
        </p>
      </section>
    </div>
    <video class="w-full h-screen object-top animate-ease-in-out animate-fade animate-duration-1000" src="/video.webm" autoplay loop muted style="clip-path: polygon(0 0, 100% 0, 100% 73%, 50% 100%, 0 73%);"></video>
    <video class="absolute bottom-0 left-0 right-0 mx-auto blur-3xl z-[-40]" src="/video.webm" autoplay loop muted></video>
  </div>
  